.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.width100 {
	width: 100% !important;
	max-height: 500px !important;
	height: 250px;
}

.player {
	position: relative;
	width: 50px;
	height: 50px;
	padding: 0.5rem;
	border: 2px solid snow;
	cursor: pointer;
	border-radius: 50%;
}
